<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Login page</h1>
    
    <form action="" method="POST" novalidate>{% csrf_token %}
        {% for lo in logen %}
          {{lo.label_tag }}
          {{lo}}
          {{lo.errors | striptags }}

        {% endfor %}

      <button type="submit">submit</button>
    </form><br>



    <a href="{% url 'signup' %}">Signup</a>
    {% if messages %}

      {% for msg in messages %}

        {{msg}}
      {% endfor %}


    {% endif %}

</body>
</html>