<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
</head>
<body>
    <h1>SignUp Page</h1>
    <form action="" method="post" novalidate>{% csrf_token %}
        {% for fo in form %}
            {{fo.label_tag}}
            {{fo}}
            {{fo.errors | striptags}}
        {% endfor %}
        <button type="submit">submit</button>
    </form>
    {% if messages %}
        {% for msg in messages %}
            {{msg}}
        {% endfor%}
    {% endif %}

    <br>

    <a href="{% url 'login' %}">Login</a>
</body>
</html>